

header{
    background-image: url("espaço2.jpg");
    padding: 1cm;
    color: whitesmoke;
}
   
form{
    margin-left: 25cm;
    border-width: unset;

    
}
#content{
justify-content: space-around;
align-items: center;
margin-left: 2cm;
}
footer{
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color:white;
}
h1{
    margin-left: 10cm;
}
h2{
    color: white;
}
main{
    background-color: whitesmoke;
}